<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Othello version 1.0</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
<div id="desk">
	<div id="title">
		<h1>黑<span>白</span>棋</h1>
		<h3>人机对战游戏</h3>
	</div>
	<div id="interface">
		<div id="chessboard"></div>
		<div id="pass"></div>
		<div id="airuning">AI</div>
	</div>
	<div id="console">
		<div id="side1" class="cbox">
			<span>0</span><div class="black"></div>
		</div>
		<div id="side2" class="cbox">
			<span>0</span><div class="white"></div>
		</div>
		<div id="play" class="button">开始</div>
		<div id="explain" class="button">关于</div>
	</div>
	<div id="copyright">Copyright © 2021-2022, djh-sudo, All Rights Reserved</div>
</div>
<script type="text/javascript" src="/static/js/othello.js"></script>
<script type="text/javascript" src="/static/js/jquery-1.11.0.js"></script>
</body>
</html>